.navbar .brand {
    background-image: url("../img/dev_logo_header.png");
    background-repeat: no-repeat;
    background-position: 5px 4px;
    padding-left: 45px;
    background-color: red;
}

.input-micro {
    width: 30px;
}

.control-group.inline {
    display: inline-block;
}

button .int {
    min-width: 117px;
}

.table-nonfluid, .warn-nonfluid {
    width: auto;
}

button[data-state=interested] {
    -webkit-appearance: none;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-image: none;
    -webkit-border-vertical-spacing: 0px;
    -webkit-box-align: center;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 0px 1.1111111640930176px 0px;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.10000000149011612s;
    -webkit-transition-property: background-position;
    -webkit-transition-timing-function: linear;
    background-color: #51A351;
    background-image: -webkit-linear-gradient(top, #62C462, #51A351);
    background-position: 0px -15px;
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.247059);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1.1111111640930176px;
    border-collapse: separate;
    border-left-color: rgba(0, 0, 0, 0.0980392);
    border-left-style: solid;
    border-left-width: 1.1111111640930176px;
    border-right-color: rgba(0, 0, 0, 0.0980392);
    border-right-style: solid;
    border-right-width: 1.1111111640930176px;
    border-top-color: rgba(0, 0, 0, 0.0980392);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1.1111111640930176px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 0px 1.1111111640930176px 0px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 30.22222328186035px;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    max-width: none;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px 0px 0px;
    text-transform: none;
    vertical-align: middle;
    word-spacing: 0px;
}
button[data-state=interested] .interested-txt {
    display: block;
}
button[data-state=not-interested] .not-interested-txt {
    display: block;
}
button[data-state=interested]:hover  {
    -webkit-appearance: none;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-image: none;
    -webkit-border-vertical-spacing: 0px;
    -webkit-box-align: center;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 0px 1.1111111640930176px 0px;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    background-color: #DA4F49;
    background-image: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
    background-position: 0% 0%;
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.247059);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1.1111111640930176px;
    border-collapse: separate;
    border-left-color: rgba(0, 0, 0, 0.0980392);
    border-left-style: solid;
    border-left-width: 1.1111111640930176px;
    border-right-color: rgba(0, 0, 0, 0.0980392);
    border-right-style: solid;
    border-right-width: 1.1111111640930176px;
    border-top-color: rgba(0, 0, 0, 0.0980392);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1.1111111640930176px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 0px 1.1111111640930176px 0px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    height: 30.22222328186035px;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    max-width: none;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px 0px 0px;
    text-transform: none;
    word-spacing: 0px;
}
button[data-state=interested]:hover .interested-txt  {
    display: none;
}
button[data-state=interested]:hover .hover-interested-txt {
    display: block;
}
button[data-state=interested] span {
    display: none;
}
button[data-state=assigned] span {
    display: none;
}
button[data-state=not-interested] span {
    display: none;
}
button[data-state=assigned] .assigned-txt {
    display: block;
}
button[data-state=login] span {
    display: none;
}
button[data-state=login] .login-txt{
    display: block;
}
button[data-state=open] span {
    display: none;
}
button[data-state=done] span {
     display: none;
 }
button[data-state=open] .open-text {
    display: block;
}
button[data-state=done] .done-text {
    display: block;
}
.icon-green{
    background-image:url("../img/glyphicons-halflings-green.png");
}
.icon-red{
    background-image:url("../img/glyphicons-halflings-red.png");
}
.icon-spinner{
    background-image:url("../img/spinner.gif");
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}
&.ui-state-hover, &.ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
